html,body{
    padding: 0;
    margin: 0;
}

nav{
    padding: 1px;
    margin: 0;
    width: 100%;
    height: 10vh;
    background: #444;
    color: #fff;
    font-size: 150%;
}

.container{
    padding: 15px;
}

.btn{
    padding: 6px;
    margin: 2px;
    border-radius: 5px;
    border: solid 2px black;
    font-size: 110%;    
}

.btn:hover{
    opacity: 0.8;
}

.primary{
    background-color: rgb(16, 79, 196);
    color: #eee;
}
.secondary{
    background-color: rgb(34, 180, 156);
    color: #eee;
}